body, html {
    font-family: poppins;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    text-align: center;
    padding: 60px; 
    min-width: 400px; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 20px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 3em;
    color: #ffffff; 
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"] {
    width: 80%; 
    padding: 15px;
    margin: 10px 0; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff; 
    border-radius: 30px; 
    box-sizing: border-box;
    background-color: transparent; 
    color: #ffffff; 
    outline: none;
    font-size: 1rem;
  }
  
  input[type="submit"] {
    width: 85%;
    background-color: #0984e3; 
    color: white;
    padding: 20px;
    margin: 20px 0; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.2rem; 
  }
  
  input[type="submit"]:hover {
    background-color: #74b9ff;
    transform: scale(1.05);
  }
  
  .toggle-form {
    color: #dfe6e9; 
    cursor: pointer;
    margin-top: 20px;
    display: block;
    font-size: 1rem; 
  }
  
  @media (max-width: 600px) {
    .form {
      width: 90%;
      padding: 30px; 
    }
  }
  
  #submit {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #6e8efb, #a777e3); 
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  }
  
  #submit:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  #submit:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background: #7770b9dd; 
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.login-title {
  font-size: 80px;
  margin-top: -20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  color: #ffffff;
}

.login-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  transition: background-color 0.3s, transform 0.2s;
}

.login-btn .fab {
  margin-right: 10px;
}

.login-btn.google:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  transform: translateY(-2px);
}
