.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgb(120, 113, 141);
  border-radius: 50px;
  margin: 30px;
  transition: transform 0.2s, box-shadow 0.2s; 
  background-color: #4b5a80;
}

.cartItem:hover {
  transform: scale(1.03); 
  box-shadow: 0px 5px 20px rgb(120, 113, 141); 
}

.cartItem img {
  width: 300px;
  border-radius: 20px;
  padding-left: 40px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
  padding-left: 100px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button:active {
  transform: translateY(1px); 
}

.cart > div > h1 {
  font-size: 2.5rem; 
}

.checkout p {
  font-size: 1.5rem; 
}

#headering{
  font-size: 90px;
  font-family: poppins;
}

#subheadering{
  font-family: poppins;
  font-size: 50px;
  text-align: center;
}

.empty-cart-button {
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 250px;
  background: linear-gradient(135deg, #6e8efb, #a777e3); 
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.empty-cart-button:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb); 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  transform: translateY(-2px); 
}

.empty-cart-button:active {
  transform: translateY(1px);
}

.checkout button {
  width: 80%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #6e8efb, #a777e3); 
  color: #ffffff;
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkout button:hover {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

button{
  background-color:#a777e3;
  border-radius: 30%;
}
